experience_api_employee/src/main/mule/eapi_subflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6637b145-c8d4-4576-bf24-10370241b43e" basePath="/api" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<error-handler name="errorhandling" doc:id="9d343e62-2c26-418b-91e0-4d4592e66857" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d4e8fcab-cc51-4d17-9a61-d83f1b076deb" type="ANY">
			<logger level="ERROR" doc:name="Logger" doc:id="071f0a2c-e8ca-4311-92e8-bd1931c7c8b6" message='#["failed to call external api"]'/>
		</on-error-propagate>
	</error-handler>
	<flow name="getemployeesflow" doc:id="c898a22d-87f2-4437-8ef4-8ef21adf75e3" >
		<try doc:name="Try" doc:id="aace6491-3712-47cc-afec-995e9c082b5c" >
			<http:request method="GET" doc:name="Request" doc:id="3feee755-d875-44c6-954a-2df3b2df9426" config-ref="HTTP_Request_configuration" path="/employees"/>
			<error-handler ref="errorhandling" />
		</try>
	</flow>
	<flow name="postemployeesflow" doc:id="0dc7e9a9-84f7-42a6-8771-39d9c267de25" >
		<ee:transform doc:name="Transform Message" doc:id="edd24e33-eced-497c-af67-9028f6e5ecc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json:validate-schema doc:name="Validate schema" doc:id="8ef1b82b-db8a-47a0-900c-490cc706dd32" schema="validateJson.json" />
		<try doc:name="Try" doc:id="0f6ab6ba-b62d-44df-94f2-b47310443e1c" >
			<http:request method="POST" doc:name="Request" doc:id="99f8cb9f-da77-4c6d-9d98-b7bad1445e23" config-ref="HTTP_Request_configuration" path="/employees"/>
			<error-handler ref="errorhandling" />
		</try>
	</flow>
	<flow name="putemployeesflow" doc:id="1519f57a-9c26-4a38-8661-110388d468c5" >
		<ee:transform doc:name="Transform Message" doc:id="9585fd71-cfcc-4fd2-b035-1a2ce8e8ffb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json:validate-schema doc:name="Validate schema" doc:id="f7f6f98e-180a-4ff3-b9f1-9a4e22197d96" schema="validateJson.json"/>
		<try doc:name="Try" doc:id="d28f80d3-80fd-4603-a3de-fb241164a30b" >
			<http:request method="PUT" doc:name="Request" doc:id="54afd28e-9965-4a9d-8744-8088e5c9bcd9" config-ref="HTTP_Request_configuration" path="/employees">
			<http:query-params><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.id
}]]]></http:query-params>
		</http:request>
			<error-handler ref="errorhandling" />
		</try>
	</flow>
	<flow name="deleteemployeesflow" doc:id="c38698ff-a29b-41ee-858d-f6ddb230af6f" >
		<try doc:name="Try" doc:id="3a47984b-74b7-4200-91a8-9b98dfab54de" >
			<http:request method="DELETE" doc:name="Request" doc:id="b82f49f6-7528-4763-80f4-9eb0c9771a39" config-ref="HTTP_Request_configuration" path="/employees">
			<http:query-params><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.id
}]]]></http:query-params>
		</http:request>
			<error-handler ref="errorhandling" />
		</try>
	</flow>
	<flow name="putempPersonalflow" doc:id="090fe84f-58d8-4c3a-976a-9271cf271fcd" >
		<ee:transform doc:name="Transform Message" doc:id="287ae70e-59db-4fa7-97d6-5e69cc47cf60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json:validate-schema doc:name="Validate schema" doc:id="763aa68d-32f6-4c27-97c0-f21a10ee29e5" schema="validateempPersonal.json"/>
		<try doc:name="Try" doc:id="0e1ad8d2-9d02-4d09-9c7a-a783bc0fb00d" >
			<http:request method="PUT" doc:name="Request" doc:id="9e7e5fed-79b8-46ca-8d89-7eb386d35e0f" config-ref="HTTP_Request_configuration" path="/empPersonal">
			<http:query-params><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.id
}]]]></http:query-params>
		</http:request>
			<error-handler ref="errorhandling" />
		</try>
	</flow>
</mule>
